<%- include("partials/header.ejs") %>
<div class="main">
  <div class="img">
    <img src="images/img1.jpg" alt="img" width="70%" />
    <img src="images/img2.jpg" alt="img" width="70%" />
    <img src="images/img3.jpg" alt="img" width="70%" />
  </div>
  <div class="text">
    <h1>Welcome to Soul Script!</h1>
    <p>
      <b>
        Your ultimate platform for sharing, discovering, and exploring
        insightful content. Whether you're a 
        writer, a reader, or someone looking for inspiration, we've got
        something for everyone
      </b>
    </p>
    <h1>Write. Publish. Connect.</h1>
    <p>
      <b>
        Start creating and sharing your stories with the world. Our easy-to-use
        interface allows you to focus
        on what matters most—your words.</b>
    </p>
    <h1>Explore a World of Ideas</h1>
    <p>
      <b>
        Browse through a diverse collection of blogs, articles, and posts from
        writers around the globe. Find 
        new perspectives, learn something new, and stay updated with the latest
        trends.
      </b>
    </p>
    <h1>Why Soul script?</h1>
    <ul>
      <li>
        <p>
          <b>User-Friendly: Write and publish effortlessly with our intuitive
            tools.</b>
        </p>
      </li>
      <li>
        <p>
          <b>Customizable: Personalize your blog layout to fit your style.</b>
        </p>
      </li>
      <li>
        <p>
          <b>Connect: Build your audience and interact with like-minded
            people.</b>
        </p>
      </li>
    </ul>
  </div>
</div>
  <%- include("partials/footer.ejs") %>

